@tailwind base;
@tailwind components;
@tailwind utilities;

.flash-message {
    animation: fadeOut 0.5s ease 5s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; visibility: hidden; }
}